{{ define "main" }}
<section id = 'wrapper'>
  <section class = 'intro'>
    <div class = 'intro_inner'>
      <div id = 'author'>
        <img src = '/images/{{ .Params.author.image }}' alt = 'blog author'>
      </div>
      <div>
        <h1 class = 'intro_headline'>{{ .Params.author.headline }}</h1>
        <p class = 'intro_desc'>{{ .Params.author.description }}</p>
      </div>
    </div>
  </section>
  <section>
    <h2 id = 'projects' class = 'mt-2'>Some of My Projects</h2>
    <div class = 'flex-in projects'>
    {{ range .Site.Data.projects }}
      <div class = 'child third project {{ . }}'>
        <a  href = '{{ .link }}' target = '_blank'  rel="noopener"> 
          <img src = '/images/projects/{{ .thumb }}.png' class = 'project__thumb' alt = 'logo'>
          {{ .name }}
        </a>
      </div>
    {{ end }}
    </div>
  </section>
</section>
{{ end }}