$font-path: '{{ "fonts" | absURL }}';
$copy-icon-path: '{{ "images/icons/copy.svg" | absURL }}';
$prev-icon-path: '{{ "images/icons/previous.svg" | absURL }}';
$next-icon-path: '{{ "images/icons/next.svg" | absURL }}';

@import
'fonts',
'variables',
'mixins',
'animate',
'base',
'components',
'utils',
'nav',
'posts',
'audio',
'footer',
'comments',
'syntax';
