{{ define "main" }}
<section class = 'post_header' style = 'background-image:url({{ path.Join "images" .Params.image | relLangURL }});'>
  <h1 class='post_title' itemprop='name headline'>{{ .Title }}</h1>
</section>
<div class = 'post'>
  <article class='post_content'>
    {{ .Content }}
    <div class = 'post_extra'>
      <div class = 'copy'></div>
    </div>
    {{ partial "author.html" . }}
  </article>
  {{ if .Site.Params.Staticman }}
    {{ partial "comments.html" . }}
  {{ end }}
  <aside>
    <h3>Recent Posts</h3>
    <ul class='flex post_aside'>
      {{ $title := .Params.title }}
      {{ range first 2 .Site.RegularPages }}
        {{ if not (eq .Title $title) }}
        {{ partial "excerpt.html" . }}
        {{ end }}
      {{ end }}
    </ul>
  </aside>
</div>
<script src = '{{ "js/autosize.min.js" | relURL }}'></script>
<script src = '{{ "js/timeago.js" | relURL }}'></script>
{{ end }}
