{{- define "main" }}
{{- $scratch := newScratch }}
{{- if isset .Params "image" }}
  {{- $scratch.Set "image" .Params.image }}
{{- else }}
  {{ $scratch.Set "image" "thumbnail.svg" }}
{{- end }}
{{- $image := $scratch.Get "image" }}
{{- $bg := (path.Join "images" $image | absLangURL) }}
<section class = 'post_header' style = 'background-image:url({{ $bg }});'>
  <h1 class='post_title'>{{ .Title }}</h1>
</section>
<div class = 'post'>
  <article class='post_content'>
    {{- .Content }}
    <div class = 'post_extra'>
      {{- partial "copy" . }}
    </div>
    {{- partial "author" . }}
  </article>
  {{- if .Site.Params.Staticman }}
    {{- partial "comments" . }}
  {{- end }}
  <aside>
    {{- partial "aside" . }}
  </aside>
</div>
<script src = '{{ absURL "js/autosize.min.js" }}'></script>
{{- $timeagoScr := resources.Get "js/timeago.js" | resources.ExecuteAsTemplate "js/timeago.js" . }}
<script src = '{{ $timeagoScr.Permalink }}'></script>
{{- end }}
