.post{
  margin:0 auto;
  padding: 1rem 1.5rem;
  width:100%;
  max-width:750px;
  margin-top: 1.5rem;
  h1,h2,h3{
    margin:15px auto;
    text-align:left;
    padding:5px 0 0 0;
  }
  p{
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    font-size: 1.05rem;
  }
  &s{
    justify-content: space-around !important;
    align-items: stretch !important;
  }
  &_aside{
    align-items: stretch;
  }
  &_content{
    h4{
      margin:5px 0;
      text-align:left;
    }
    p{
      line-height:1.65;
      &:first-child{
        margin-top:0;
        padding-top:0;
      }
    }
    a{
      color: $theme;
      padding-bottom:7.5px;
      &:hover {
        text-decoration: underline;
      }
    }
    ol, ul {
      padding: 0.5rem 0 0.5rem 1.2rem;
    }
    li {
        padding: 0.33rem 0;
    }
  }
  &_header{
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center;
    position:relative;
    color:#fff;
    height:48vh;
    min-height: 360px;
    background-color:$dark;
    margin-top:60px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &::after {
      content: "";
      position: absolute;
      top:0;
      left: 0;
      right: 0;
      bottom:0;
      z-index: 1;
      background: rgba(10, 15, 30, 0.72)
    }
    h1 {
      color: inherit;
    }
    h1, p, h4 {
      position: relative;
      z-index: 2;
    }
  }
  &_item{
    @include shadow;
    margin: 1.25rem 0;
    border-radius: 10px;
    overflow: hidden;
  }
  &_link{
    padding:2.5px 0;
    font-size:1.25em;
    margin:2.5px 0;
    text-align:left;
  }
  &_meta {
    overflow: hidden;
    opacity: 0.8;
    font-size: 0.84rem;
    font-weight: 500;
    display: inline-grid;
    grid-template-columns: auto 1fr;
    background-color: $light;
    padding: 0;
    align-items: center;
    border-radius: 0.3rem;
    color: $dark;
    text-transform: capitalize;
    a {
      &:hover {
        color: $theme;
        text-decoration: underline;
        opacity: 0.9;
      }
    }
  }
  &_extra {
    display: flex;
    justify-content: flex-end;
  }
  &_tag {
    font-size: 0.75rem !important;
    font-weight: 500;
    background: $theme;
    color: $light;
    padding: 0.25rem 0.67rem !important;
    text-transform: uppercase;
    display: inline-flex;
    border-radius: 5px;
  }
  &_title{
    margin:5px 0;;
  }
  &_author {
    padding: 0.2rem 0.75rem;
    a {
      color: $theme;
      text-decoration: underline;
    }
  }
  &_time {
    background: $theme;
    display: inline-grid;
    padding: 0.2rem 0.75rem;
    color: $light;
  }
}

.pager {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 30px auto 0 auto;
  &, &_item {
    justify-content: center;
    align-items: center;
  }
  &_item {
    height: 36px;
    width: 36px;
    display: inline-flex;
    margin-left: 5px;
    margin-right: 5px;
    background: $theme;
    color: $light;
    border-radius: 50%;
    margin-bottom: 30px; 
    &:hover {
      opacity: 0.5;
    }
  }
  &_prev, &_next {
    background: transparent;
    background-size: 100%;
    background-position: center;
  }
  &_prev {
    background-image: url(/images/previous.svg);
  }
  &_next {
    background-image: url(/images/next.svg);
  }
  &_active{
    opacity: 0.5;
  }
}

.excerpt{
  padding: 0 10px 1.5rem 10px;
  position: relative;
  z-index: 1;
  &_meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateY(-2.5rem);
    position: relative;
    z-index: 5;
  }
}

.share{
  @include shadow;
  background: $light;
  border-radius: 5px;
  align-items:center;
  justify-content:right;
  position: fixed;
  top: 64px;
  height: 0;
  opacity: 0;
  overflow: hidden;
  a{
    margin:12.5px  0;
    opacity:1;
    transition:opacity 0.3s ease-in-out;
    &:hover{
      opacity:0.84;
    }
  }
  img{
    width:1.25rem;
    margin-right: 5px;
  }
  &,&_card{
    display: flex;
    flex-flow: column;
  }
  &_card{
    width:100%;
    padding:25px;
  }
  
  &-close{
    animation: hideShare 0.3s ease-out;
  }
  &-open{
    animation: showShare 0.3s ease-out;
    width: 210px;
    padding: 25px 15px;
    height: auto;
    opacity: 1;
    text-align: left;
  }
  &-trigger{
    width: 24px;
    cursor: pointer;
  }
}
.blog{
  padding: 0 30px;
}
