{{- $author := index (where .Site.Data.authors (lower "name") (lower .Params.author)) 0 }}
<div class = 'author'>
  <a href = '{{ $author.url }}' target = "{{ $author.name }}'s profile" class = 'author_pic'>
    <img src = '{{ absURL (printf "images/%s" $author.photo) }}' alt = ''>
  </a>
  <div class = 'author_meta'>
    <a class = 'author_name' href = '{{ $author.url }}'>{{ with $author.fullName }}{{ . }}{{ else }}{{ $author.name }}{{ end }}</a>
    <p class = 'pale author_bio solo'>{{ $author.bio }}</p>
  </div>
</div>
