<h3>Comments</h3>
<div class = 'comments'>
  {{ $.Scratch.Add "hasComments" 0 }}
  {{ $entryId := .File.UniqueID }}

  {{ if .Site.Data.comments }}
    {{ range $index, $comments := (index $.Site.Data.comments $entryId ) }}
      {{ $.Scratch.Add "hasComments" 1 }}
      <div class = 'comment'>
        <img src = 'https://www.gravatar.com/avatar/{{ .email }}?s=100' alt = 'user icon' class = 'comment_user'>
        <div class = 'comment_body'>
          <div class = 'comment_meta'>
            <div class = 'comment_author'>{{ .name }}</div>
            <div class = 'comment_time' data-time = '{{ .date }}'></div>
          </div>
          {{ .comment | markdownify }}
        </div>
      </div>
    {{ end }}

  {{ end }}

  {{ if eq ($.Scratch.Get "hasComments") 0 }}
    <p>Nothing yet.</p>
  {{ end }}

  {{ partial "comments-form.html" . }}
  <article class = 'modal'>
    <div class = 'modal_inner'>
      <h2 class = 'modal_title'></h2>
      <div class = 'modal_text'></div>
      <button class = 'modal_close'>Close</button>
    </div>
  </article>
</div>
