{{ with .Params.image }}
<meta property = 'og:image' content = '{{ path.Join  "images" . | absURL }}'/>
{{ else }}
<meta property = 'og:image' content = '{{ path.Join "images" .Site.Params.image | absURL }}'/>
{{ end }}
{{ if eq .Section "blog" -}}
  {{ $date := (time .Date)  }}
  <meta property = 'article:published_time' content = '{{ $date }}' />
  <script type = "application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "BlogPosting",
      "mainEntityOfPage":"{{ .Permalink }}",
      "name": "{{ .Site.Title }}",
      "headline": "{{  .Title  }}",
      "description": "{{ .Summary | truncate 150 }}",
      "url": "{{ .Permalink }}",
      "datePublished": "{{ $date }}",
      "dateModified": "{{ $date }}",
      "author": {
        "@type": "Person",
        "name": "{{ .Params.author }}"
      },
      "image":{
        "@type":"ImageObject",
        "url":'{{ path.Join "images" .Params.image | absURL }}'
      },
      "publisher": {
        "@type": "Organization",
        "logo": {
          "@type":"ImageObject",
          "url":'{{ path.Join "images" .Site.Params.logo | absURL }}'
        },
        "name": "{{ .Site.Title }}"
      }
    }
  </script>
  <meta name = 'twitter:card' content = 'summary_large_image' />
  <meta name = 'twitter:creator' content = '{{ .Site.Params.twitter }}'>
  <meta name = 'twitter:title' content = '{{ .Title }}' />
  <meta property = 'twitter:description'  content = '{{ .Summary | truncate 250 }}'/>
  <meta name = 'twitter:image' content = '{{ path.Join "images" .Params.image | absURL }}' />
{{ end }}
